@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #c7c5ca67;
    font-family: 'Poppins', sans-serif;
}


.dropdown-container {
    position: relative;
}

.dropdownContent {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.menuButton:hover+.dropdownContent,
.dropdownContent:hover {
    opacity: 1;
    visibility: visible;
}

.dropdownContent a {
    display: block;
    padding: 8px 12px;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dropdownContent a:hover {
    color: rgb(234, 88, 12);
    background-color: #d3d3d3;
}